<body id="fondo">
    <!--Guemes-->
    <h1>
        <center>Historia Mundial</center>
    </h1>

    <center><img src="/images/image/rey.jpg" id="peliculas">


    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h5>Hubo un Rey de España que era fanático del vino tino, tanto fue así que lo apodaron 'Pepe botellas'</h5>
                        <h4 id="title">¿Quien fue apodado 'Pepe botellas'?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Fernando VII</li>
                                    <li>Felipe VI</li>
                                    <li>Carlos IV</li>
                                    <li>Luis I</li>
                                    <li>Alfonso VIII</li>
                                    <li>Jose Bonaparte</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=32">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 32376</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
       <!-- <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">Quien es el personaje Histórico?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Juan Jose Castelli</li>
                                    <li>Mariano Moreno</li>
                                    <li>Bernardino Rivadavia</li>
                                    <li>Manuel Dorrego</li>
                                    <li>Julio Argentino Roca</li>
                                    <li>Martín Miguel de Güemes</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                           <!-- </div>
                            <a class="btn btn-info" href="/details?id=12">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 124630</h3>

                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <br><br>
    <hr>
    <!--Cruce de los Andes-->
    <h1>
        <center>Cruce de Los Andes</center>
    </h1>

    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/5l3iUT5yfnw"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></center>
            <br><br><br>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h6 id="title">¿Cuánto Tiempo duró El Cruce de los Andes?</h6>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>45 días</li>
                                    <li>2 meses</li>
                                    <li>21 días</li>
                                    <li> 1 año</li>
                                    <li>61 días</li>
                                    <li>25 semanas</li>
                                   

                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=13">Responder</a>
                        </div>
                        <h3>Código de Pregunta: 134630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--elNacimientoDeVenus-->
    <h1>
        <center>Revolucion Francesa</center>
    </h1>

    <center><img src="/images/image/revolucionFrancesa.jpg" id="peliculas">


    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">Que Ideología dio origen a la Revolucion Francesa?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>El Comunismo</li>
                                    <li>El Iluminismo</li>
                                    <li>El Romantisimo</li>
                                    <li>El Neoliberalismo</li>
                                    <li>El Socialismo</li>
                                    <li>La Anarquia</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=16">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 164630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>
        <center>Geografia</center>
    </h1>

    <center><img src="/images/image/portugal.png" id="peliculas">

    </center>
    <br><br><br>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">De Que Pais es Esta Bandera?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Bulgaria</li>
                                    <li>Turquia</li>
                                    <li>Marruecos</li>
                                    <li>Republica Checa</li>
                                    <li>Portugal</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=21">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 214630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--Cruce de los Andes-->
    <h1>
        <center>Rios, Arroyos y Lagos</center>
    </h1>

    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/5Mv5xoz08Mo"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></center>
    <br><br><br>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h6 id="title">Cual es el Rio mas largo de Sudamerica?</h6>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>El Amazonas</li>
                                    <li>El Parana</li>
                                    <li>El Tocantis</li>
                                    <li>El Rio Paraguay</li>
                                    <li>El San Fransico</li>
                                    <li>El Rio Uruguay</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=22">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 224630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <!--elNacimientoDeVenus-->
    <h1>
        <center>Poblacion</center>
    </h1>

    <center><img src="/images/image/poblacion.jpg" id="peliculas">


    </center>
    <div class="container" id="fondo">
        <div class="row">
            <div>

                <div class="card" style="width: 21rem;">
                    <div class="card-header">
                        <h4 id="title">Que Pais tiene la mayor Poblacion?</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <ul>
                                    <li>Rusia</li>
                                    <li>India</li>
                                    <li>EEUU</li>
                                    <li>China</li>
                                    <li>Australia</li>
                                    <li>Brasil</li>


                                </ul>
                                <!--<a class="btn btn-info" href="/details?id={{id}}">-->
                            </div>
                            <a class="btn btn-info" href="/details?id=23">Responder</a>
                        </div>
                        <h3>Codigo de Pregunta: 234630</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<style>
    /*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');*/

    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }


    h1 {
        /*font-family: Segoe UI;*/
        color: rgb(109, 242, 226);
        -webkit-text-stroke: 0.5px rgb(26, 125, 79);
        text-shadow: 2px 2px 1px rgb(86, 75, 242)
    }


    h4,h6 {
        /*font-family: Segoe UI;*/
        font-size: 30px;
        font-weight: 500;
        -webkit-transition: color .5s;
        transition: color .5s;
        color: #96f291;
        -webkit-text-stroke: 0.8px rgb(26, 125, 79);
        text-shadow: 2px 2px 2px rgb(54, 46, 164)
    }

    #peliculas {
        width: 500px;
        height: 300px;
        margin: 4%;

    }






    /*p{
	font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}*/
</style>