<body id="fondo">

</body>
<style>
    #fondo {
        background-image: url("https://cdn.pixabay.com/photo/2015/08/26/07/03/background-908172_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }
    #etiqueta{
        display: block;
        
        
    }
    #grafico{
        display: none;
    }
</style>
<div class="container" id="fondo">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 21rem;">
                <div class="card-header">
                    <h4 id="title">{{data.poll}}</h4>
                </div>
                <div class="card-body">
                    <div class="col-md-10">
                        <div class="row">
                            <p>{{data.responses}}</p>
                            &nbsp;
                            <p>Respuestas</p>
                        </div>
                        <ul class="row" id="etiqueta">
                            {{#each responses}}

                            <li>{{this}}</li>
                            {{/each}}
                        </ul>


                        <div class="row">
                            {{#if data.estado_poll}}
                            <a class="btn btn-info"
                                href="/votes?id={{data.id}}&poll={{data.poll}}&multiple={{multiple}}">
                                Realizar votos
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            
            
            <div class="card">
                <button onclick="mostrar()">Grafico Histograma</button>
                <div class="card-body" id="top_x_div" style="width: 500px; height: 300px; display_none">
                    <button onclick="okultar()">ocultar</button>
                </div>
            </div>
            <div class="card">
                <button onclick="okultar('piechart_3d')">Grafico de Torta 3D</button>
                <div id="piechart_3d" style="width: 500px; height: 300px; display: none"></div>
            </div>
            <div class="card">
                <button onclick="okultar('donutchart')">Grafico de dona</button>
                <div id="donutchart" style="width: 500px; height: 300px;display: none"></div>
            </div>
            <script>
                function mostrar(){
                    document.getElementById('top_x_div').style.display='block';

                }
                function okultar(){
                    document.getElementById('top_x_div').style.display='none';

                }

            </script>
        </div>
    </div>

</div>
{{!--
<script src="/socket.io/socket.io.js"></script> --}}
<script>
    //let socket =io()
    //console.log("En votes: ", {{votes}})
    //socket.emit('votook', 'alguien esta por votar');

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{{!--
<script src="socket.io/socket.io.js"></script> --}}
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawStuff);
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.load("current", { "packages": ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    //Histograma
    function drawStuff() {
        let responses = "{{responses}}";
        let array = responses.split(",");
        var resArray1 = new Array();
        resArray1[0] = 'Respuesta';;
        resArray1[1] = 'Voto';
        let resArray2 = new Array();
        resArray2[0] = resArray1;
        let count = 0;
        let j = 1;
        resArray1 = new Array();
        for (let i = 0; i < array.length; i++) {
            if (count == 1) {
                resArray1[count] = parseInt(array[i], 10);
                resArray2[j] = resArray1;
                count = 0;
                j++;
                resArray1 = new Array();
            } else {
                resArray1[count] = array[i];
                count++;
            }
        }
        var data = new google.visualization.arrayToDataTable(resArray2);
        var options = {
            width: 0,
            legend: { position: 'none' },
            chart: {
                title: "{{data.poll}}",
                subtitle: 'Sistema de encuestas'
            },
            axes: {
                x: {
                    0: { side: 'top', label: 'Para detalle posicione el cursor sobre el grafico' } // Top x-axis.
                }
            },
            bar: { groupWidth: "90%" }
        };
        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
        console.log(resArray2);
    }

    //dona
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {
        let responses = "{{responses}}";
        let array = responses.split(",");
        var resArray1 = new Array();
        resArray1[0] = 'Respuesta';;
        resArray1[1] = 'Voto';
        let resArray2 = new Array();
        resArray2[0] = resArray1;
        let count = 0;
        let j = 1;
        resArray1 = new Array();
        for (let i = 0; i < array.length; i++) {
            if (count == 1) {
                resArray1[count] = parseInt(array[i], 10);
                resArray2[j] = resArray1;
                count = 0;
                j++;
                resArray1 = new Array();
            } else {
                resArray1[count] = array[i];
                count++;
            }
        }

        var data = new google.visualization.arrayToDataTable(resArray2);
        var options = {
            pieHole: 0.5,
            pieSliceTextStyle: {
                color: 'black',
            },
            legend: 'none'
        };




        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);

    }
    //torta 3d

    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(pieChart);
    function pieChart() {
        let responses = "{{responses}}";
        let array = responses.split(",");
        var resArray1 = new Array();
        resArray1[0] = 'Respuesta';;
        resArray1[1] = 'Voto';
        let resArray2 = new Array();
        resArray2[0] = resArray1;
        let count = 0;
        let j = 1;
        resArray1 = new Array();
        for (let i = 0; i < array.length; i++) {
            if (count == 1) {
                resArray1[count] = parseInt(array[i], 10);
                resArray2[j] = resArray1;
                count = 0;
                j++;
                resArray1 = new Array();
            } else {
                resArray1[count] = array[i];
                count++;
            }
        }
        var data = new google.visualization.arrayToDataTable(resArray2);


        var options = {
            title: 'Grafico de torta 3D',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
        //var chart = new google.charts.Bar(document.getElementById('piechart_3d'));
        //chart.draw(data, google.charts.Bar.convertOptions(options));
        console.log(resArray2);
    }
    function ocultar(elemento) {
        var x = document.getElementById(elemento);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }




</script>